.app {
  text-align: center;
}

.app__header {
  margin-bottom: 15px;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__header > h1 {
  margin: 0;
  padding: 15px 0;
  font-size: 1.6em;
}

.app__body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
